$blue: #1877f2;
$green: #42b72a;
$paragraph-margin-bottom: 0;

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  background: linear-gradient(
    203deg,
    rgba(131, 58, 180, 0.9) 0%,
    rgba(253, 29, 29, 0.9) 50%,
    rgba(252, 176, 69, 0.9) 100%
  );
}

.sidecolor {
  background-color: #e9e8df;
}
.user-hover:hover {
  background-color: #b4bbab;
}

.active-user {
  background-color: #a7f343;
}

.message-box {
  height: 500px;
  overflow-y: scroll;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.user-image{
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
